section.section.faq
	.section_in.faq__in
		h2.faq__title
			.faq__title_in ОТВЕТЫ НА ВОПРОСЫ
		+accordion([
				{
					trigger: 'accordion__item--active-mod',
					title: 'Подойдет ли мне курс если я новичок?',
					descr: 'Да! На курсе ты получишь все необходимые знания, чтобы быстро освоить профессию и начать зарабатывать уже во время обучения.',
					icon: 'arrow_down'
				},
				{
					title: 'У меня останется доступ к материалам и записям уроков?',
					descr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dignissimos, aut magnam provident iste laborum at accusantium cupiditate fugiat. Consequatur deleniti maxime voluptas suscipit veritatis fuga sapiente porro temporibus architecto.',
					icon: 'arrow_down'
				},
				{
					title: 'Могу ли я совмещать учёбу/работу и фриланс?',
					descr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dignissimos, aut magnam provident iste laborum at accusantium cupiditate fugiat. Consequatur deleniti maxime voluptas suscipit veritatis fuga sapiente porro temporibus architecto.',
					icon: 'arrow_down'
				},
				{
					title: 'Какие гарантии что я получу результат??',
					descr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dignissimos, aut magnam provident iste laborum at accusantium cupiditate fugiat. Consequatur deleniti maxime voluptas suscipit veritatis fuga sapiente porro temporibus architecto.',
					icon: 'arrow_down'
				},
			])