section.section.faq
	.section_in.faq__in
		.faq__title
			h2.faq__title_in ОТВЕТЫ НА ВОПРОСЫ
		+accordion([
				{
					title: 'Подойдет ли мне курс если я новичок?',
					descr: 'Да! На курсе ты получишь все необходимые знания, чтобы быстро освоить профессию и начать зарабатывать уже во время обучения.',
					icon: 'arrow_down'
				},
				{
					title: 'У меня останется доступ к материалам и записям уроков?',
					descr: 'Доступ к материалам обучения не ограничен по времени на всех тарифах',
					icon: 'arrow_down'
				},
				{
					title: 'Могу ли я совмещать учёбу/работу и фриланс?',
					descr: 'Программа обучения построена так, что достаточно будет уделять 2-3 часа в день. Но даже если вдруг вы не будете успевать, уроки есть в записи и доступны для просмотра в любое время',
					icon: 'arrow_down'
				},
				{
					title: 'Какие гарантии что я получу результат?',
					descr: 'Наши главные гарантии - успешные кейсы учеников прошлых потоков. Мы будем сопровождать вас на каждом этапе обучения и погрузим в такую среду, где результат будет обеспечен.',
					icon: 'arrow_down'
				},
			])