section.section.hero
	+picture({
		class: 'hero__bg',
		img_class: 'hero__bg_in',
		img: 'hero_1.png',
		alt: 'background image',
	})
	.hero_img_block

		+picture({
			class: 'hero__face',
			img_class: 'hero__face_in',
			img: 'newhero.png',
			alt: 'speaker',
		})
		+picture({
			class: 'hero__decor_elipse',
			img_class: 'hero__decor_elipse_in',
			img: 'new_hero_decor.png',
			alt: 'speaker',
		})

	.section_in.hero__in
		.hero__content
			h1.hero__title #[span(class='hero__title_line') Дизайн #[span(class="hero__title_quote") Онлайн#[br] курс#[br]  #[span Новая возможность #[br] в текущих реалиях]]] рекламных креативов
			p.hero__descr Вы с #[strong полного нуля научитесь дизайну] рекламных креативов и #[strong начнете получать ежемесячную прибыль] от 500$ до 2 500$
			.hero__btn_w
				a.hero__btn(href="#") ПРИНЯТЬ УЧАСТИЕ