section.section.result
	.section_in.result__in
		.result__title
			h2.result__title_in Главные результаты
		.result__list_w
			ul.result__list
				-
					var list = [
						{
							descr: 'С полного нуля разберетесь в Adobe Photoshop, Фигма и After Effects'
						},
						{
							descr: 'Освоите новое перспективное направление и сможете заработать первые деньги уже во время обучения'
						},
						{
							descr: 'Узнаете все технические моменты с помощью, которых сможете влиять на CTR креатива'
						},
						{
							descr: 'Обретете все необходимые навыки, чтобы уверенно войти в нишу и закрепиться в ней'
						},
						{
							descr: 'Грамотно упакуете свои соц. сети и построите личный бренд по моей методике'
						},
						{
							descr: 'Выстроите очередь из клиентов и увеличите средний чек на свои услуги'
						},
						{
							descr: 'Узнаете как привлекать и строить долгосрочные отношения с заказчиками'
						},
						{
							descr: 'Создадите свой уникальный продукт и научитесь продавать свои услуги системно и дорого'
						},
					]
				each item, index in list
					li.result__item
						.result__item_in
							+picture({
								class: 'result__icon',
								img_class: 'result__icon_in',
								img: `res_${index}.png`,
								alt: 'icon',
							})
							.result__descr= item.descr
