@import 'ScssHelpers/_helpers_all.scss';

.cases__title {
	@extend %global_flex_block_row_wrap_center_center;
	margin-bottom: 5rem;
}

.cases__title_in {
	@extend %h2;

	text-align: center;
}

.cases__slider_w {
  min-height: 61.4rem;
}

.cases__item {
	width: 37rem;
	overflow: hidden;

	background: #3322F8;
	border: 1px solid #7B7B7B;
	border-radius: 1rem;
}

.cases__item_img {
	display: block;
	width: 100%;
	height: 37.3rem;
}

.cases__item_img_in {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.cases__item_info {
	padding: 2.5rem 2rem;
}

.cases__info_row {
	@extend %global_flex_block_row_wrap_flex-start_center;

	margin-bottom: 1rem;

	gap: 1rem 2rem;
}

.cases__item_name {
	// max-width: 14rem;
	// padding-right: 2rem;

	font-family: $font_2;
	color: $white;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 1;
	text-transform: uppercase;
}

.cases__item_contact {
	padding: 1rem 2.4rem;
	color: $white;
	font-size: 1.4rem;
	text-align: center;

	background: #5A4BFF;
	backdrop-filter: blur(1rem);

	border-radius: 8rem;
}

.cases__item_city {
	margin-bottom: 1.6rem;

	font-weight: 400;
	font-size: 1.5rem;
	color: #9A92FF;
}

.cases__item_dot {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.6;

	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #FFF09F;

	& + & {
		margin-bottom: 1.6rem;
	}
}

.cases__item_date {
	font-weight: 400;
	font-size: 1.5rem;
	color: $white;
}

.cases__slider_w {
	position: relative;
}

.slider_arrow--prev,
.slider_arrow--next {
	@extend %global_flex_block_row_wrap_center_center;
	position: absolute;
	top: calc(50% - 3rem);
	z-index: 100;
	width: 5.6rem;
	height: 5.6rem;

	cursor: pointer;
	border-radius: 50%;
	background: linear-gradient(89.43deg, #333534 0.54%, #272727 99.56%);
}

.slider_arrow--next {
	right: -2rem;
}
.slider_arrow--prev {
	left: -2rem;
}

.slider_arrow_icon {
	width: 1.7rem;
	height: 1.6rem;

	transition: transform ease .3s;
	background: url('../../images/arr_prev.svg') no-repeat center center / 100% 100%;

	.slider_arrow--prev:hover &,
	.slider_arrow--next:hover & {
		transform: translateX(2px);
	}
}

.slider_arrow--next {
	transform: rotate(180deg);
}

.cases__decor {
	position: absolute;
	left: 0;
	top: 50%;

	width: 100vw;
	height: 100vh;

	display: block;
}

.cases__decor_in {
	display: block;
	width: 100%;
	height: 100%;
}