@import 'ScssHelpers/_helpers_all.scss';

%descr_text {
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.5;
}

.faq__title {
	@extend %global_flex_block_row_wrap_center_center;

	@include bp($point_2, min) {
		margin-bottom: 5rem;
	}
	@include bp($point_3) {
		margin-bottom: 3rem;
	}
}

.faq__title_in {
	@extend %h2;

	text-align: center;
}


.accordion__item_body {
	color: #727272;
	font-weight: 400;

// *
// important style to work
// *

	max-height: 0;
	opacity: 0;

	transition: all 0.25s ease-out;
	will-change: max-height;
	overflow: hidden;
	pointer-events: none;

	.accordion__item--active-mod & {
		opacity: 1;
		pointer-events: auto;
	}

// *
// important style to work /
// *

}

// ----------------------------------------------------------

//---------------------------------------------accordion
.icon {
	&.size-mod {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.accordion__item {
	border: 1px solid #7B7B7B;
	border-radius: 1rem;
}

.accordion__item_head {
	@extend %global_flex_block_row_nowrap_flex-start_center;
	position: relative;
	cursor: pointer;
	transition: background ease-in-out .3s;

	background: linear-gradient(52.7deg, #1F1F1F 8.37%, #2D2D2D 81.06%);
	border-radius: 1rem;

	@include bp($point_2, min) {
		min-height: 10.5rem;
		padding: 1rem 12rem 1rem 7rem;
	}
	@include bp($point_3) {
		min-height: 7.9rem;
		padding: 1rem 6rem 1rem 2rem;;
	}

	.accordion__item--active-mod & {
		background: $blue;
		border-radius: 1rem 1rem 0 0;
	}

	&:focus,
	&:hover {
		background: $blue;
	}

	.accordion__item_icon_w {
		position: absolute;
		display: block;
		margin: 0 0 0 auto;

		transform-origin: center;
		transition: .3s;
		transform: rotateZ(180deg);

		.accordion__item--active-mod & {
			transform: rotateZ(0deg);
		}

		@include bp($point_2, min) {
			right: 7rem;
			width: 4rem;
			height: 4rem;
		}
		@include bp($point_3) {
			right: 3rem;
			width: 2.5rem;
			height: 2.5rem;
		}
	}

	.accordion__item--active-mod & {
		border-color: transparent;
	}
}

.accordion__item_title {
	font-weight: 500;
	color: $white;

	@include bp($point_2, min) {
		font-size: 2rem;
		line-height: 1.2;
	}
	@include bp($point_3) {
		font-size: 1.5rem;
		line-height: 1.33;
	}
}

.accordion__item_body {
	font-size: 1.6rem;
}

.accordion__item {
	margin-bottom: 1rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.accordion__item_body_in {
	background: #3322F8;
	border-radius: 0 0 1rem 1rem;
	border-top: 1px solid #7b7b7b;
	color: $white;
	font-weight: 400;

	@include bp($point_2, min) {
		padding: 4rem 12rem 4rem 7rem;
		font-size: 1.5rem;
		line-height: 1.66;
	}
	@include bp($point_3) {
		padding: 2rem 1.6rem 2rem 2rem;
		font-size: 1.3rem;
		line-height: 1.53;
	}
}

.accordion__item_body_limit {
	max-width: 58.2rem;
}