@import 'ScssHelpers/_helpers_all.scss';

.materials__title {
	@extend %global_flex_block_row_wrap_center_center;
	margin-bottom: 7rem;
}

.materials__title_in {
	@extend %h2;

	text-align: center;
	line-height: 1;

	strong {
		background: $blue;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.materials__item_row{
	@extend %global_flex_block_row_wrap_center;

	gap: 5rem 3rem;
}

.materials__item_block {
	@extend %global_flex_block_row_wrap_flex-start_center;
}

.materials__item_img {
	display: block;
	width: 6.6rem;
	height: 6.6rem;
	margin-right: 2.2rem;
	margin-bottom: auto;

	overflow: hidden;
	border-radius: .6rem;
}

.materials__item_block_text {
	max-width: 28rem;
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.5;
	color: $white;
}

.slider_dots {
	@extend %global_flex_block_row_wrap_center_center;

	margin-top: 8rem;
	gap: 1.2rem;
}

.swiper-pagination-bullet {
	width: 1rem;
	height: 1rem;

	border-radius: 50%;
	background-color: $white;
	transition: background-color ease .3s;
	cursor: pointer;

	&.swiper-pagination-bullet-active {
		background-color: $blue;
	}
}
