@import 'ScssHelpers/_helpers_all.scss';

%descr_text {
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.5;
}

%price_text {
	font-size: 1.5rem;
	line-height: 1.5;
}

.price__title {
	@extend %global_flex_block_row_wrap_center_center;

	@include bp($point_2, min) {
		margin-bottom: 6rem;
	}
	@include bp($point_3) {
		margin-bottom: 3.4rem;
	}
}

.price__title_in {
	@extend %h2;

	text-align: center;
}

.price__list {
	@extend %global_flex_block_row_wrap_flex-start_stretch;

	margin: 0 -3rem -4rem 0;
}

.price__item {
	padding: 0 3rem 4rem 0;

	color: $black_2;

	@include bp($point_2, min) {
		width: calc(100% / 3);
	}
	@include bp($point_3) {
		width: calc(100% / 1);
	}
}

.price__item_in {
	border-radius: 1rem;
	height: 100%;

	.price__item:nth-child(1) & {
		background: linear-gradient(40.5deg, #CACACA 0%, #FFFFFF 70.24%);
	}

	.price__item:nth-child(2) & {
		background: #FFF09F;
	}

	.price__item:nth-child(3) & {
		background: #AD00FF;
	}

	@include bp($point_2, min) {
		padding: 3.5rem 3.2rem 5rem;
	}
	@include bp($point_3) {
		padding: 3.5rem 3.2rem 3.5rem;
	}
}

.price__item_title {
	margin-bottom: 1.2rem;
	text-align: center;
	line-height: 1;
	font-family: $font_2;
	font-size: 4rem;

	.price__item:nth-child(3) & {
		color: $white;
	}
}

.price__subtitle {
	margin-bottom: 1rem;
	text-align: center;
	line-height: 1;
	font-family: $font_2;
	font-size: 2.5rem;

	.price__item:nth-child(3) & {
		color: $white;
	}
}

.price__place {
	@extend %global_flex_block_row_wrap_center;
	position: relative;

	margin-bottom: 7rem;

	&::after,
	&::before {
		position: absolute;
		z-index: 0;
		left: -3.2rem;
		display: block;
		height: 1px;
		width: calc(100% + 6.4rem);
		background-color: rgba(123, 123, 123, 0.23);
		content: '';
	}

	&::after {
		top: 2rem;
	}

	&::before {
		bottom: -4rem;
	}

	.price__item:nth-child(3) &::after,
	.price__item:nth-child(3) &::before {
		background-color: rgba(255, 255, 255, 0.31);
	}
}

.price__place_appart {
	position: relative;
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.7;
	color: #141414;

	.price__item:nth-child(3) & {
		color: rgba(255, 255, 255, 0.87);
	}
}

.price__place_in {
	position: relative;
	z-index: 1;
	margin-bottom: 2.2rem;
	padding: .8rem 2.4rem;
	min-width: 17.5rem;

	text-align: center;
	font-weight: 400;
	font-size: 1.5rem;
	color: $black_2;
	border-radius: 8rem;
	border: 1px solid #5c5c5c3d;
	background-color: white;
	background-image: linear-gradient(67.83deg, rgba(210, 210, 210, 0.1) 3.52%, rgba(77, 77, 77, 0.1) 99.38%);

	.price__item:nth-child(2) & {
		background-color: #FFF09F;
	}
	.price__item:nth-child(3) & {
		background-color: #AD00FF;
		color: $white;
		border: 1px solid rgba(173,0,255, 1);
		background-image: linear-gradient(67.83deg, rgba(227, 227, 227, 0.4) 3.52%, rgba(123, 123, 123, 0.4) 99.38%);
	}
}

.price__price_w {
	@extend %global_flex_block_row_wrap_center_center;
	margin-bottom: 1.2rem;
}

.price__price {
	font-family: $font_2;
	font-size: 7rem;
	text-align: center;

	span {
		font-size: 4rem;
	}

	.price__item:nth-child(1) & {
		background: linear-gradient(68.34deg, #000000 21.72%, #605F5F 69.28%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.price__item:nth-child(2) & {
		background: linear-gradient(68.34deg, #000000 21.72%, #605F5F 69.28%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.price__item:nth-child(3) & {
		background: linear-gradient(111.7deg, #585858 0.34%, #F5F5F5 31.52%, #DBDBDB 60.77%, #605F5F 92.43%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.price__item_list {
	padding-left: 1rem;
	margin-bottom: 4rem;
}

.price__sublist_item {
	@extend %price_text;
	position: relative;
	margin-bottom: 1.2rem;

	.price__item:nth-child(1) &:nth-child(1n+8) {
		color: #808080;

		&:after {
			background-color: #808080;
		}

		&:before {
			border-left: 1px solid #808080;
			border-bottom: 1px solid #808080;
		}
	}

	.price__item:nth-child(2) &:nth-child(1n+14) {
		color: #808080;

		&:after {
			background-color: #808080;
		}

		&:before {
			border-left: 1px solid #808080;
			border-bottom: 1px solid #808080;
		}
	}

	.price__item:nth-child(3) & {
		color: $white;
	}

	&:after,
	&:before {
		position: absolute;
		left: -2rem;
		display: block;

		border-radius: 50%;
		content: "";
	}

	&:before {
		top: .4rem;
		left: -2.3rem;
		width: 1.3rem;
		height: 1.3rem;

		border-left: 1px solid $blue;
		border-bottom: 1px solid $blue;
		border-right: 1px solid rgba(123, 123, 123, 0);
		border-top: 1px solid rgba(123, 123, 123, 0);
		transform: rotate(-135deg);

		.price__item:nth-child(3) & {
			border-left: 1px solid rgba(255, 240, 159, 1);
			border-bottom: 1px solid rgba(255, 240, 159, 1);
		}
	}

	&:after {
		top: .7rem;
		width: .7rem;
		height: .7rem;

		background-color: $blue;

		.price__item:nth-child(3) & {
			background-color: rgba(255, 240, 159, 1);
		}

		.price__item:nth-child(3) & {
			background-color: rgba(255, 240, 159, 1);
		}
	}
}

.price__btn_w {
	@include bp($point_2, min) {
		margin-bottom: 4.4rem;
	}
	@include bp($point_3) {
		padding: 0 2rem;
		margin-bottom: 3.4rem;
	}
}

.price__pay {
	@extend %yellow_btn;
	@extend %btn_size_3;

	@include bp($point_2, min) {
		margin-bottom: 2rem;
	}
	@include bp($point_3) {
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
}

.price__payment {
	@extend %gray_btn;
	@extend %btn_size_3;
}

.price__price_old {
	position: relative;
	text-align: center;
	font-family: $font_2;
	font-weight: 700;
	font-size: 5rem;
	line-height: 1;

	&.price__price_old--color_1 {
		color: #959494;
	}
	&.price__price_old--color_2 {
		color: #9C9360;
	}
	&.price__price_old--color_3 {
		color: #E2A4FF;
	}

	span {
		font-size: 3rem;
	}

	&:after {
		position: absolute;
		display: block;
		left: 50%;
		top: 0;

		width: 8rem;
		height: 1px;
		background-color: #ff3838;
		transform-origin: center center;
		transform: rotate(-25deg) translateX(-60%);
		content: '',
	}
}


.price__link_w {
	@extend %global_flex_block_row_wrap_center_center;
}
.price__link {
	font-weight: 600;
	text-decoration: underline;
	transition: color ease .3s;
	text-transform: uppercase;
	// text-decoration: none;

	@include bp($point_2, min) {
		font-size: 1.5rem;
	}
	@include bp($point_3) {
		font-size: 1.2rem;
	}

	.price__item:nth-child(1) & {
		color: #585858;
	}
	.price__item:nth-child(2) & {
		color: #5F441C;
	}
	.price__item:nth-child(3) & {
		color: #DF9BFF;
	}

	&:hover {
		color: $blue!important;
	}
}