@import 'ScssHelpers/_helpers_all.scss';

%program_text {
	@include bp($point_2, min) {
		font-size: 1.5rem;
		line-height: 1.5;
	}
	@include bp($point_3) {
		font-size: 1.4rem;
		line-height: 1.42;
	}
}

.program {
	@include bp($point_3) {
		padding-bottom: 0;
	}
}

.program__title {
	@extend %global_flex_block_row_wrap_center_center;

	@include bp($point_2, min) {
		margin-bottom: 7.4rem;
	}
	@include bp($point_3) {
		margin-bottom: 4rem;
	}
}

.program__title_in {
	@extend %h2;
}

.program__list {
	@extend %global_flex_block_row_wrap_flex-start;
	margin-right: -3rem;

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	.program__item:nth-child(1n+4) {
		@include bp($point_2, min) {
			position: absolute;
			pointer-events: none;
			opacity: 0;
		}
		@include bp($point_3) {
			height: auto!important;
		}
	}

	&.program__list--active_state .program__item {
		@include bp($point_2, min) {
			position: static;
			pointer-events: auto;
			opacity: 1;
		}
	}
}

.program__item_in {
	position: relative;
	border: 1px solid #7B7B7B;
	background: linear-gradient(52.7deg, #1F1F1F 8.37%, #2D2D2D 81.06%);
	border-radius: 1rem;
}

.program__item {
	color: $white;
  // break-inside: avoid;
	transition: opacity ease .5s;

	padding-right: 3rem;

	.program__item_offer_item--new,
	.program__item_offer_item--prem,
	.program__item_offer_item--vip {
		display: none;
	}

	&.program__item--new .program__item_offer_item--new {
		display: block;
	}

	&.program__item--prem .program__item_offer_item--prem {
		display: block;
	}

	&.program__item--vip .program__item_offer_item--vip {
		display: block;
	}

	@include bp($point_2, min) {
		margin-bottom: 5.7rem;
		width: calc(100% / 3);
	}
	@include bp($point_3) {
		margin-bottom: 4rem;
		width: calc(100%);
	}
}

.program__item_image {
	width: 64%;
	height: 69.8rem;
	background: red;

	position: absolute;
	bottom: 0;
	right: 0;
}

.program__item_acc_item_body {
	border-top: 1px solid #7B7B7B;

	@include bp($point_2, min) {
		max-height: none!important;
	}

	@include bp($point_3) {
		max-height: 0;
		opacity: 0;

		transition: all 0.25s ease-out;
		will-change: max-height;
		overflow: hidden;
		pointer-events: none;

		.program__item--active-mod & {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.program__item_offer {
	@extend %global_flex_block_row_wrap_flex-start_center;

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	transform: translateY(-50%);

	@include bp($point_2, min) {
		gap: .8rem;
		padding: 0 1.4rem 0 2.4rem;
	}
	@include bp($point_3) {
		gap: .7rem;
		padding: 0 .6rem 0 2.6rem;
	}
}

.program__item_offer_item {
	display: block;
	text-align: center;

	&.program__item_offer_item--num {
		height: 3.7rem;
		min-width: 10rem;

		padding: .4rem 1rem;
		background-color: $blue;

		font-weight: 600;
		font-size: 2rem;
		border-radius: 5px;
		border: 1px solid #4f3ff6;
	}

	&.program__item_offer_item--new {
		background: url('../../images/offer_new.png') no-repeat center center / 100% 100%;

		@include bp($point_2, min) {
			width: 5.5rem;
			height: 5.5rem;
		}
		@include bp($point_3) {
			width: 4.8rem;
			height: 4.8rem;
		}
	}

	&.program__item_offer_item--prem {
		padding: .4rem 1.4rem .2rem;
		background-color: #FFF09F;
		color: #141414;
		border-radius: 8rem;
		font-family: $font_2;

		@include bp($point_2, min) {
			min-width: 8.5rem;
			height: 2.9rem;
			font-size: 1.8rem;
		}
		@include bp($point_3) {
			min-width: 7.4rem;
			height: 2.5rem;
			font-size: 1.6rem;
		}
	}

	&.program__item_offer_item--vip {
		padding: .4rem 1.4rem .2rem;
		background-color: #ad00ff;
		color: $white;
		border-radius: 8rem;
		font-family: $font_2;
		text-align: center;

		@include bp($point_2, min) {
			min-width: 6.2rem;
			height: 2.9rem;
			font-size: 1.8rem;
		}
		@include bp($point_3) {
			min-width: 5.4rem;
			height: 2.5rem;
			font-size: 1.6rem;
		}
	}
}

.program__item_title {
	position: relative;

	font-weight: 700;
	font-family: $font_2;
	line-height: 1;

	@include bp($point_2, min) {
		padding: 5rem var(--program_indent) 3.4rem;
		font-size: 4rem;
	}
	@include bp($point_3) {
		padding: 3.4rem 5.7rem 2.4rem var(--program_indent);
		font-size: 3rem;
	}
}

.program__item_icon {
	will-change: transform;

	@include bp($point_2, min) {
		display: none;
	}
	@include bp($point_3) {
		position: absolute;
		right: 3rem;
		top: 3.8rem;
		display: block;
		width: 2rem;
		height: 1.1rem;
		transition: transform ease .3s;

		.program__item--active-mod & {
			transform: rotate(-180deg);
		}
	}
}

.program__item_descr {
	@include bp($point_2, min) {
		padding: 4rem var(--program_indent) 1rem;
	}
	@include bp($point_3) {
		padding: 3rem var(--program_indent) 2.5rem;
	}
}

.program__item_descr_title {
	font-weight: 700;
	font-family: $font_2;
	font-size: 2.5rem;
	line-height: 1;

	@include bp($point_2, min) {
		margin-bottom: 1.2rem;
	}

	@include bp($point_3) {
		margin-bottom: 1.8rem;
	}

	&.program__item_descr_title--offset_mod {
		@include bp($point_2, min) {
			margin-top: 3rem;
		}
		@include bp($point_3) {
			margin-top: 3.4rem;
		}
	}
}

.program__item_result {
	padding: 4rem var(--program_indent);

	background-color: #3322F8;
	border-top: 1px solid #7B7B7B;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.program__item_mat_list,
.program__item_descr_list {
	@include bp($point_2, min) {
		padding-left: 2.6rem;
	}
	@include bp($point_3) {
		padding-left: 2.2rem;
	}
}

.program__item_descr_item {
	@extend %program_text;
	position: relative;

	margin-bottom: 1.4rem;

	@include bp($point_3) {
		font-size: 1.4rem;
	}

	blockquote {
		color: rgba(185, 185, 185, 1);
	}

	span {
		position: relative;
		top: 2px;
		display: inline-block;
		padding: .3rem 1.6rem;
		margin-left: .5rem;

		font-family: $font_2;
		line-height: 1;
		font-size: 1.5rem;
		border-radius: 8rem;
		border: 1px solid rgba(73, 73, 73, 0.24);
		background-image: linear-gradient(67.83deg, rgba(210, 210, 210, 0.1) 3.52%, rgba(77, 77, 77, 0.1) 99.38%);

		&:after {
			position: absolute;
			left: -.5rem;
			top: .5rem;
			z-index: 1;
			display: block;
			width: 1.1rem;
			height: 1.1rem;

			background: url('../../images/star.png') no-repeat center center / 100% 100%;
			content: '';
		}
	}

	&:after,
	&:before {
		position: absolute;
		display: block;

		border-radius: 50%;
		content: "";

		@include bp($point_2, min) {
			left: -2.6rem;
		}
		@include bp($point_3) {
			left: -2.2rem;
		}
	}

	&:before {
		top: .4rem;
		width: 1.3rem;
		height: 1.3rem;

		border-left: 1px solid $blue;
		border-bottom: 1px solid $blue;
		border-right: 1px solid rgba(123, 123, 123, 0);
		border-top: 1px solid rgba(123, 123, 123, 0);
		transform: rotate(-135deg);

		@include bp($point_2, min) {
			left: -2.9rem;
		}
		@include bp($point_3) {
			left: -2.5rem;
		}
	}

	&:after {
		top: .7rem;
		width: .7rem;
		height: .7rem;

		background-color: $blue;
	}
}

.program__item_mat_item {
	@extend %program_text;

	position: relative;

	@include bp($point_2, min) {
		margin-bottom: 2rem;
	}
	@include bp($point_3) {
		margin-bottom: 1rem;
	}
}

.program__item_mat_img {
	position: absolute;
	top: 0;
	left: -2.6rem;
}

.program__item_result_descr {
	@extend %program_text;
}

.program__btn_w	{
	margin-top: 8rem;

	@include bp($point_2, min) {
		@include flex_block(row, wrap, center, center);
	}

	@include bp($point_3) {
		display: none;
	}
}

.program__btn {
	@extend %blue_btn_1;
	@extend %btn_size_2;
	position: relative;

	text-transform: uppercase;

	& span:first-child {
		display: block;
	}
	& span:last-child {
		display: none;
	}

	&.program__btn--active_state {
		@extend %gray_btn;
		// background: linear-gradient(to left, #CBCBCB 1.66%, #FFFFFF 62.01%, #CBCBCB 101.55%);
		// box-shadow: 0px 3px 0px #C9C9C9;

		color: #5F5F5F;

		&::after {
			background: url('../../images/load_more_gray.png') no-repeat center center / 100% 100%;
		}

		// &:hover {
			// color: red;
			// background-position: right;
		// }

		& span:first-child {
			display: none;
		}
		& span:last-child {
			display: block;
		}
	}

	&::after {
		display: block;
		margin-left: 1.7rem;

		width: 2.3rem;
		height: 2.3rem;

		background: url('../../images/load_more.png') no-repeat center center / 100% 100%;
		content: '';
	}
}

.program__decor {
	position: absolute;
	top: 0;
	left: 0;
	display: block;

	width: 100vw;
	height: 200vh;
	pointer-events: none;

	@include bp($point_3) {
		display: none;
	}
}

.program__decor_in {
	@extend %cover_img;
}

.program__decor2_img {
	position: absolute;
	right: 0;
	bottom: -39rem;
	display: none;
	width: 100%;
	height: auto;
	pointer-events: none;
	z-index: -1;

	&.program__decor2_img--show_mod {
		display: block;
	}

	@include bp($point_3) {
		display: none!important;
	}
}

.program__decor2_in {
	display: block;
	width: 100%;
	height: 100%;

	object-fit: contain;
	object-position: top right;
}
