@import 'ScssHelpers/_helpers_all.scss';

.result__title {
	@extend %global_flex_block_row_wrap_center_center;

	@include bp($point_2, min) {
		margin-bottom: 5.6rem;
	}

	@include bp($point_3) {
		margin-bottom: 2.2rem;
	}
}

.result__title_in {
	@extend %h2;

	text-align: center;
}

.result__list_w {
	max-width: 101rem;
	width: 100%;
	margin: 0 auto;
}

.result__list {
	@extend %global_flex_block_row_wrap_flex-start;
	color: $white;

	@include bp($point_2, min) {
		margin: 0 -3.5rem -10rem 0;
	}
	@include bp($point_3) {
		margin: 0 -3.5rem -3rem 0;
	}
}

.result__item {
	@include bp($point_2, min) {
		width: calc(100% / 2);
		padding: 0 3.5rem 10rem 0;
	}
	@include bp($point_3) {
		width: calc(100%);
		padding: 0 3.5rem 3rem 0;
	}
}

.result__item_in {
	position: relative;
	@include bp($point_2, min) {
		padding-left: 15.9rem;
		min-height: 12.6rem;
	}
	@include bp($point_3) {
		padding-left: 10.8rem;
		min-height: 7.5rem;
	}
}

.result__icon {
	position: absolute;
	left: 0;
	top: 0;

	@include bp($point_2, min) {
		width: 12.6rem;
		height: 10.8rem;
	}
	@include bp($point_3) {
		width: 8.7rem;
		height: 7.5rem;
	}
}

.result__icon_in {
	@include bp($point_3) {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.result__descr {
	font-weight: 400;
	line-height: 1.4;
	@include bp($point_2, min) {
		max-width: 36rem;
		font-size: 2rem;
	}
	@include bp($point_3) {
		// max-width: 36rem;
		font-size: 1.4rem;
	}
}
