mixin footer
	footer.footer
		.footer__in
			.footer__row
				.footer__col
					a(href="#").footer__logo
						img.footer__logo_in(src="images/logo.svg" alt="logo")
				.footer__col
					.footer__question Остались вопросы? Жмите на кнопку и мой менеджер расскажет вам все детали
			.footer__row
				.footer__col
					.footer__links
						a(href="#").footer__link.footer__link--nda Политика конфиденциальности
						a(href="#").footer__link.footer__link--serv Условия оказания услуг
				.footer__col
					.footer__btn_w
						a(href="https://t.me/alexx_fisher94").footer__telega_btn #[img(src='images/teleg.png' alt='icon telegram')] Телеграм