//- -
//- 	programList = [
//- 		{
//- 			title: 'Наставление на обучение',
//- 			result_descr: 'Получите пошаговый план действий на обучение и стратегию развития на 6 месяцев. Поймете как эффективно внедрить знания на курсе и получить результат.',
//- 			descr_list: ['План обучения', 'Как получить максимальный результат от обучения', 'Постановка и достижение целей', 'Знакомство Zoom-созвон'],
//- 			mat_list: ['Грамотная постановка и движение к целям', 'Карта развития на 6 месяцев',],
//- 		},
//- 		{
//- 			title: 'Основы',
//- 			result_descr: 'На живых примерах поймете, как делать результативные креативы и узнаете, что влияет на их эффективность. Прокачаете насмотренность и научитесь быстро генерировать и реализовывать идеи.',
//- 			descr_list: ['Что такое рекламный креатив','Основные правила ','эффективного креатива','Из чего состоит креатив','Триггеры','Примеры эффективных креативов','Разбираем лучшие ','креативы на триггеры','Как тренировать насмотренность',],
//- 			mat_list: ['Терминология/сленг','Подборка источников','для вдохновения',],
//- 		},
//- 		{
//- 			title: 'Базовые инструменты Photoshop',
//- 			result_descr: 'Научитесь применять базовые инструменты Photoshop и сделаете свой первый креатив.',
//- 			descr_list: ['Рабочая среда','Инструменты','Работа с простыми объектами','Работа со сложными объектами','Работа со слоями и наложениями','Работа с текстом'],
//- 			mat_list: ['Маст-хэв сервисы для дизайнеров','Шпаргалка горячих','клавиш фотошоп'],
//- 		},
//- 		{
//- 			title: 'Продвинутые инструменты Photoshop',
//- 			result_descr: 'Научитесь делать работы высокого уровня с помощью продвинутых инструментов Photoshop.',
//- 			descr_list: ['Топ инструментов и сервисов','для обтравки объектов','Работа с фоном','Постобработка. Фильтр Camera Raw ','и плагин Magic Bullet Looks','Эффекты','Уникализация текста','Варпинг и размытие','Дизайн кнопок','Дизайн свайпов'],
//- 			mat_list: ['Ресурсы и сервисы для создания эффективных креативов', 'Design Box от Alex Fisher. Пак бесплатных материалов и ресурсов для дизайнеров: 3d, иконки, фоны, текстуры, шрифты, мокапы и другое'],
//- 		},
//- 		{
//- 			title: 'Типографика',
//- 			result_descr: 'Научитесь управлять вниманием клиента за счет грамотно подобранной типографики.',
//- 			descr_list: ['Теория типографики','Шрифты','Размер текста','Выравнивание','Межстрочные и межбуквенные расстояния'],
//- 			mat_list: ['Пак шрифтов с поддержкой кириллицы', 'Ресурсы для работы со шрифтами'],
//- 		},
//- 		{
//- 			title: 'Практическая часть',
//- 			result_descr: 'Освоите все необходимые навыки для создания качественных рекламных креативов и презентаций, за которые, заказчики готовы платить дорого.',
//- 			descr_list: ['Учимся делать простые баннеры','Учимся делать сложные баннеры ','(с применением объемных объектов, свечений, уникализации текста, эффектов и наложений)','Разрабатываем дизайн презентации'],
//- 			mat_list: ['Шпаргалка на самые популярные размеры макетов', 'Вспомогательные сетки для ', 'самых популярных размеров', 'Шаблон ТЗ для креативов'],
//- 		},
//- 	]
