extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index', template_name: 'IndexPage'}
block content_block
	include ../blocks/hero
	include ../blocks/why
	include ../blocks/who
	include ../blocks/result
	include ../blocks/program
	include ../blocks/how
	include ../blocks/price
	include ../blocks/speakers
	include ../blocks/cases
	include ../blocks/faq
	include ../blocks/materials
