//------------------------------------------------------------layout
.header {
	position: absolute;
	top: 0;
	left: 0;

	height: var(--height-header);
	width: 100%;
	padding: 0 var(--gl-indent);

	font-size: 1rem;

	// will-change: transform;
	// overflow: hidden;

	@include z-index(header);
}

//------------------------------------------------------------layout###

.header__in {
	@extend %global_flex_block_row_nowrap_flex-start;
	margin: 0 auto;
	max-width: $page_width;
	@include bp($point_2, min) {
		margin-top: 4.5rem;
	}
	@include bp($point_3) {
		margin-top: 2.2rem;
	}
}

.header__info {
	margin-left: auto;
	// overflow: hidden;
}

.header__info {
	@extend %global_flex_block_row_wrap_flex-start;
	max-width: 56.6rem;
  width: 100%;



	@include bp($point_2, min) {
		gap: 2rem 10rem;
	}
	@include bp($point_3) {
		gap: 2rem 3.4rem;
	}
}

.header__logo {
	display: block;
	@include bp($point_2, min) {
		width: 25.7rem;
		height: 5.6rem;
	}
	@include bp($point_3) {
		width: 17.1rem;
		height: 2.2rem;
		margin-right: 3.8rem;
	}
}

.header__logo_in {
	display: block;
	width: 100%;
	height: 100%;
}

.header__date {
	position: relative;

	@include bp($point_2, min) {
		padding-left: 5.6rem;
	}
	@include bp($point_3) {
		padding-left: 2.2rem;
	}
}

.header__date_icon {
	position: absolute;
	top: 0;
	left: 0;

	@include bp($point_2, min) {
		width: 4rem;
		height: 4rem;
	}
	@include bp($point_3) {
		width: 1.6rem;
		height: 1.6rem;
	}
}

.header__date_icon {
	// position: relative;

	&::after {
		position: absolute;
		top: -.5rem;
		left: -.9rem;
		display: block;

		background-color: $blue;
		border-radius: 50%;
		filter: blur(10px);
		content: '';
		@include bp($point_2, min) {
			width: 2.1rem;
			height: 2.1rem;
		}
		@include bp($point_3) {
			width: 1.2rem;
			height: 1.2rem;
		}
	}
}

.header__date_title {
  display: inline-block;

	font-family: $font_2;
	line-height: 1;

	background: linear-gradient($gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

	@include bp($point_2, min) {
		font-size: 5rem;
	}
	@include bp($point_3) {
		font-size: 2rem;
	}
}

.header__date_text {
	color: $gray;
	@include bp($point_2, min) {
		font-size: 1.7rem;
	}
	@include bp($point_3) {
		font-size: .8rem;
	}
}